/* custom forms styles */
.customForm-hidden {
	display: block !important;
	position: absolute !important;
	left:-9999px !important;
}
/* custom checkbox styles */
.chk-area {
	margin: 11px 3.9% 0 0;
	float: left;
	overflow: hidden;
	height: 19px;
	width: 19px;
}
.chk-area span {
	background: url(../assets/bg-check.png) no-repeat;
	width:19px;
	height:38px;
	display: block;
}
.chk-checked span {
	margin-top: -19px;
}
/* radio button styles */
.rad-area {
	margin: -1px 7px 0 0;
	float: left;
	overflow: hidden;
	height: 15px;
	width: 15px;
}
.table .rad-area {
	position:absolute;
	width:13px;
	height:13px;
	z-index:9000;
	top:50%;
	left:50%;
	margin:-7px 0 0 -7px;
}
.rad-area span {
	background: url(../assets/bg-radio.png) no-repeat;
	width:15px;
	height:30px;
	display: block;
}
.table .rad-area span {
	background: url(../assets/bg-radio-01.png) no-repeat;
	width:13px;
	height:26px;
}
.rad-checked span {
	margin: -16px 0 0 1px;
}
.table .rad-checked span {
	margin:-13px 0 0 0;
}
/* custom select styles */
.select-area {
	float: right;
	position: relative;
	overflow: hidden;
	margin: 0 0 0 8%;
	height: 38px;
}
.select-name {
	float:right;
	margin:0;
}
.select-area .select-opener {
	background: url(../assets/bg-select.png) no-repeat 100% -76px;
	position: absolute;
	z-index: 3;
	top: 0;
	right: 0;
	width: 34px;
	height: 38px;
}
.select-attribute.select-area{
	margin:2px 3% 0 0.2%;
	float:left;
}
.select-attribute.select-area .select-opener {
	background: url(../assets/bg-select-white.png) no-repeat 100% -76px;
}
.select-area .left {
	background: url(../assets/bg-select.png) no-repeat;
	position: absolute;
	width: 10px;
	height: 38px;
	z-index: 1;
	top: 0;
	left: 0;
}
.select-attribute.select-area .left {
	background: url(../assets/bg-select-white.png) no-repeat;
}
.select-area .center {
	white-space: nowrap;
	position: relative;
	line-height: 39px;
	cursor: default;
	display: block;
	height:38px;
	z-index: 2;
	background: url(../assets/bg-select.png) repeat-x 0 -38px;
	color:#333;
	font-size:15px;
	margin:0 34px 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding:0 0 0 8%;
}
.select-attribute.select-area .center {
	background: url(../assets/bg-select-white.png) repeat-x 0 -38px;
	padding:0 7px;
}
.select-name.select-area .center {padding:0 4%;}
.options-overflow div.drop-list {overflow: auto;}
.options-hidden {
	position: absolute !important;
	top: -9999px !important;
	left: -9999px !important;
}
.select-options {
	z-index: 3000;
	background: #f8f8f8;
	position: absolute;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	padding:5px 0;
	border:1px solid #f2f2f2;
}
.select-options .drop-holder {
	height: 1%;
}
.select-options div.drop-list {
	width: 100%;
}
.select-options ul {
	overflow: hidden;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.select-options ul li {
	overflow: hidden;
	float: left;
	width: 100%;
}
.select-options ul a {
	text-decoration: none;
	cursor: default;
	color: #333;
	display: block;
	overflow: hidden;
	height: 1%;
	padding: 5px 17px;
	font-size:15px;
}
.select-options ul a span {
	cursor: default;
	float: left;
}
.select-options .item-selected a {
	text-decoration: none;
	background: #666;
	color: #fff;
}
.select-options ul a:hover {
	text-decoration: none;
}
.select-options ul a:focus {
	outline: none;
}