@font-face {
	font-family: 'Gotham-Medium';
		src: url('../assets/Gotham-Medium.eot');
		src: url('../assets/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
			url('../assets/Gotham-Medium.woff') format('woff'),
			url('../assets/Gotham-Medium.ttf') format('truetype'),
			url('../assets/Gotham-Medium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham-Book';
		src: url('../assets/Gotham-Book.eot');
		src: url('../assets/Gotham-Book.eot?#iefix') format('embedded-opentype'),
			url('../assets/Gotham-Book.woff') format('woff'),
			url('../assets/Gotham-Book.ttf') format('truetype'),
			url('../assets/Gotham-Book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
html{height:100%;}
body{
	margin:0;
	color:#333;
	min-width:1000px;
	height:100%;
}
img{border-style:none;}
input,
textarea,
select{
	color:#000;
	vertical-align:middle;
	font:100% Arial, Helvetica, sans-serif;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
blockquote, q{quotes: none;}
q:before,
q:after {content: '';}
a{
	color:#000;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
a:focus,
input:focus,
textarea:focus,
select:focus{outline:none;}
/*wrapper*/
.wrapper {
	padding:0 37px;
	overflow:hidden;
	min-height:100%;
}
/*header*/
#header {padding:28px 13px 88px 0;}
#header:after{
	clear:both;
	content:'';
	display:block;
}
#header .col {
	float:right;
	width:33.2%;
}
#header .col:first-child{
	float:left;
	width:54.16%;
}
#header .name {
	float:right;
	width:37.25%;
}
#header .logo{
	float:left;
	overflow:hidden;
	margin:-21px 0 0 -6px;
	width:35%;
}
#header .logo a{
	display:block;
	height:100%;
}
#header .logo img {width:100%;}
#header .cols {
	float:right;
	width:65%;
	position:relative;
}
#header .cols select {width:37.5%;}
#header .logo.verity {
	margin:-9px 0 0;
	width:22%;
}
#header .col .select {position:relative;}
/*main*/
#main {padding-bottom:113px;}
/*tabs*/
#tabs .tabset {
	margin:0 27px 0 4px;
	padding:0 0 10px;
	list-style:none;
	background:url(../assets/sep-01.png) repeat-x 0 40px;
}
#tabs .tabset:after{
	clear:both;
	content:'';
	display:block;
}
#tabs .tabset li {
	float:left;
	font:14px/16px 'Gotham-Medium', sans-serif;
	text-transform:uppercase;
	background:url(../assets/bg-nav-li.png) repeat-x;
	-webkit-border-radius:5px 5px 0 0;
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
	-webkit-box-shadow:0 1px 0 #7a7777, 1px 0 1px #eee;
	-moz-box-shadow:0 1px 0 #7a7777, 1px 0 1px #eee;
	box-shadow:0 1px 0 #7a7777, 1px 0 1px #eee;
	margin:0 2px 0 0;
}
#tabs .tabset .ui-state-active,
#tabs .tabset li:hover {
	background:url(../assets/bg-nav-active.png) repeat-x;
	-webkit-box-shadow:1px 1px 2px #ededed, -1px -1px 2px #ededed;
	-moz-box-shadow:1px 1px 2px #ededed, -1px -1px 2px #ededed;
	box-shadow:1px 1px 2px #ededed, -1px -1px 2px #ededed;
	margin:0 2px 0 0;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
#tabs .tabset li a {
	display:block;
	color:#fdfdfd;
	padding:13px 15px 11px;
}
#tabs .tabset li a:hover,
#tabs .tabset .ui-state-active a{
	color:#333;
	text-decoration:none;
	padding:13px 15px 19px;
}
#tabs .child-tabs{padding-bottom:1px;}
#tabs .child-tabs .tabset{
	padding:0 0 12px 12px;
	margin-left:3px;
}
#tabs .child-tabs .tabset .ui-state-active,
#tabs .child-tabs .tabset li:hover {
	background:url(../assets/bg-nav-active-01.png) repeat-x;
	box-shadow: none;
	margin-top:0;
}
#tabs .child-tabs .tabset .ui-state-active a,
#tabs .child-tabs .tabset li:hover a{padding:10px 13px 21px;}
#tabs .child-tabs .tabset li a {padding:13px 13px 11px;}
#tabs .holder {padding:0 36px 0 30px;}
.report-form {
	overflow:hidden;
	padding:0 23px 26px;
}
.report-form label {
	float:left;
	padding:13px 8px 0 0;
}
.report-form label.first {padding-right:11px;}
.report-form img {
	float:left;
	margin:13px 2.8% 0px -3.1%;
}
.report-form select {
	width:12.3%;
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.report-form .btn {
	float:left;
	width:165px;
	background:url(../assets/bg-btn.png) repeat-x;
	border:0;
	padding:0;
	height:40px;
	color:#fff;
	font:15px/40px 'Gotham-Medium', sans-serif;
	text-transform:uppercase;
	text-shadow:0 1px 0 #a06102;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	text-align:center;
}
.report-form .btn:hover {background-position:0 -40px;}
#main .table {
	background:#f4f4f4;
	padding:4px 5px 3px 2px;
	margin-left:-2px;
	overflow:hidden;
}
.table-holder {
	-webkit-border-radius:0 0 7px 7px;
	-moz-border-radius:0 0 7px 7px;
	border-radius:0 0 7px 7px;
	border:1px solid #dfdfdf;
	border-width: 0 1px 1px;
	border-bottom-color:#b4b4b4;
}
#main table {
	border-collapse:collapse;
	width:100%;
}
#main table th {
	background:url(../assets/bg-th.png) repeat-x #09c4ec;
	text-transform:uppercase;
	text-align:left;
	padding:6px 0;
	letter-spacing:1px;
	font:14px 'Gotham-Medium', sans-serif;
}
#main table th span {padding:0 11px 0 0;}
#main table td {
	padding:8px 0 10px;
	border-top:1px solid #e9e9e9;
	background:#fff;
	font-size:14px;
}
#main table th.col01 {border-left:1px solid #8be5f8;}
#main table td.col01 {border-left:1px solid #fff;}
#main table .col01{
	width:9.7%;
	padding-left:11px;
} 
#main table .col02{width:9.3%;} 
#main table .col03{width:10.3%;} 
#main table .col04{width:21.1%;} 
#main table .col05{width:2.5%;} 
#main table .col06{width:19.3%;} 
#main table .col07{width:10.15%;} 
#main table .col08{width:3%;}
#main table .col09 {width:13.11%;}
#main table .level {
	display:block;
	padding:1px 0 0;
	margin-bottom:-1px;
	position:relative;
}
#main table .level-1 {padding-left:15px;}
#main table .level-2 {padding-left:68px;}
#main table .level-3 {padding-left:119px;}
#main table .level-4 {padding-left:178px;}
#main table .level img {
	float:left;
	padding-right:19px;
}
#main table .progress{
	text-indent:-9999px;
	float:left;
	background:url(../assets/line.png) no-repeat #999;
	height:10px;
	-webkit-border-radius:0 2px 2px 0;
	-moz-border-radius:0 2px 2px 0;
	border-radius:0 2px 2px 0;
	-webkit-box-shadow:0 1px 1px #ececec;
	-moz-box-shadow:0 1px 1px #ececec;
	box-shadow:0 1px 1px #ececec;
	margin:4px 0 0 -5px;
	position:relative;
	left:9.7%;
}
#main table .line {
	float:right;
	text-indent:-9999px;
	background:#f8b551;
	height:10px;
	margin:6px 0 0 0;
	-webkit-box-shadow:0 1px 1px #ececec;
	-moz-box-shadow:0 1px 1px #ececec;
	box-shadow:0 1px 1px #ececec;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}
.angle-left {
	-webkit-border-radius:0 0 0 5px;
	-moz-border-radius:0 0 0 5px;
	border-radius:0 0 0 5px;
}
#main table td.col01.angle-left {
	border-left:0;
}
.angle-right {
	-webkit-border-radius:0 0 5px 0;
	-moz-border-radius:0 0 5px 0;
	border-radius:0 0 5px 0;
}
/*footer*/
#footer {
	position:relative;
	text-align:center;
	font-size:14px;
	line-height:28px;
	color:#575757;
	border-top:1px solid #d8d8d8;
	margin: -72px 37px 0;
	height:71px;
}
#footer p {
	margin:0;
	padding:12px 0 31px;
}
/*choice-form*/
.choice-form {
	background:#fff;
	-webkit-box-shadow:0 0 3px #e8e8e8;
	-moz-box-shadow:0 0 3px #e8e8e8;
	box-shadow:0 0 3px #e8e8e8;
	padding:17px 13px 18px;
	width:694px;
}
.choice-form .heading {
	overflow:hidden;
	background:url(../assets/sep-02.png) repeat-x 0 100%;
	padding:1px 0 12px;
	margin:0 6px 17px 0;
}
.choice-form label {
	float:left;
	font:11px/13px 'Gotham-Book', sans-serif;
	color:#333;
	margin-right:33px;
}
.choice-form .cols {padding-left:13px;}
.choice-form .cols:after{
	clear:both;
	content:'';
	display:block;
}
.choice-form .col {
	float:left;
	color:#333;
	font:13px/15px 'Gotham-Book', sans-serif;
	position:relative;
	margin:0 0 0 35px;
}
.choice-form .col:first-child{
	width:188px;
	margin:0 22px 0 0;
}
.choice-form .col h3 {
	margin:0 0 24px;
	text-align:center;
	font:12px/15px 'Gotham-Book', sans-serif;
	text-transform:uppercase;
	letter-spacing:1px;
}
.choice-form .col .center {padding-left:24px;}
.choice-form .col .years .holder {
	position:relative;
	overflow:hidden;
	text-align:center;
	font-size:14px;
	line-height:16px;
	border-bottom:1px solid #adadad;
	padding-bottom:15px;
	margin-bottom:7px;
}
.choice-form .col .years .prev,
.choice-form .col .years .next {
	position:absolute;
	top:50%;
	left:14px;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../assets/arrows.png) no-repeat;
	width:6px;
	height:11px;
	margin-top:-12px;
}
.choice-form .col .years .next{
	left:auto;
	right:23px;
	background-position:0 -11px;
}
.choice-form .col .years span {padding-right:15px;}
.choice-form .col .years ul {
	margin:0 0 0 -15px;
	padding:0;
	list-style:none;
	overflow:hidden;
}
.choice-form .col .years ul li {
	float:left;
	width:39px;
	text-transform:uppercase;
	font:12px/40px 'Gotham-Book', sans-serif;
	margin:0 0 2px 11px;
	text-align:center;
}
.choice-form .col .years ul li a {
	display:block;
	color:#333;
}
.choice-form .col .years ul .active a,
.choice-form .col .years ul li a:hover {
	text-decoration:none;
	background:#c5c5c5;
} 
.choice-form .col .text {
	position:absolute;
	top:55px;
	left:0;
	background:url(../assets/bg-text.png) no-repeat;
	width:10px;
	height:120px;
	text-indent:-9999px;
}
.choice-form .table {
	margin:-10px 0 0 25px;
	width:179px;
}
.choice-form table{
	width:100%;
	border-collapse:collapse;
	border:1px solid #e2e2e2;
	border-width: 0 0 1px 1px;
}
.choice-form table th {
	padding:0 5px;
	color:#333;
	font:normal 11px/27px 'Gotham-Book', sans-serif;
	border:1px solid #e2e2e2;
	border-width: 1px 1px 1px 0;
}
.choice-form table .col01 {
	width:25px;
	padding:0;
}
.choice-form table .col01,
.choice-form table .col02,
.choice-form table .col03 {width:36px;}
.choice-form table td {
	text-align:center;
	border:1px solid #e2e2e2;
	border-width: 0 1px 1px 0;
	height:47px;
	padding:0 5px;
	vertical-align:top;
}
.choice-form table td img {vertical-align:top;}
.choice-form .radio-area {
	position:relative;
	width:36px;
	height:47px;
}
.choice-form .result {
	padding:12px 0 0;
	margin-right:-10px;
}
.choice-form .result ul {
	margin:0;
	padding:0 0 4px;
	list-style:none;
	overflow:hidden;
}
.choice-form .result .level-02 {padding-left:40px;}
.choice-form .result .level-03 {padding-left:80px;}
.choice-form .result ul li {
	float:left;
	width:36px;
	height:36px;
	line-height:36px;
	text-transform:uppercase;
	color:#333;
	font-size:10px;
	text-align:center;
	margin-right:4px;
}
.choice-form .result ul .color-01{background:#c0c0c0;}
.choice-form .result ul .color-02{background:#ff9900;}
.choice-form .result ul .color-03{background:#ffcc66;}
.fancybox {float:left;}
.fancybox:hover {text-decoration:none;}
.popups {
	position:absolute;
	top:-9999px;
	left:-9999px;
}

.coming-soon {
	width: 95%;
	height: 200px;
	z-index: 1;
	position: relative;
	background-color: #1AA6E0;
	display: block;
  font-size: 48px;
  font-family: 'Armata', sans-serif;
  text-align: center;
  padding-top: 100px;
}